body {
    background-color: bisque; text-align: justify;
}

h1 {
    color: crimson; text-align: center;
}

h2 {color: blueviolet; text-align: right;
}

p {
    text-align: 45px; color: blue;
}